<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Aggiungi Cliente</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Aggiungi un nuovo Cliente</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/aggiungiCliente}" th:object="${cliente}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="nome" class="col-form-label">Nome</label>
                                <input type="text" th:field="*{nome}"  id="nome" placeholder="Nome">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cognome" class="col-form-label">Cognome</label>
                                <input type="text" th:field="*{cognome}"  id="cognome" placeholder="Cognome">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Aggiungi Cliente">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>